<div id="demo" class="container">
    <h1>Vue语言切换 filter</h1>
    <section style="color: #000000; font-size: 18px; font-weight: bold">
        <div style="margin-bottom: 20px">
            {{ 'switchTest' | language language.active }}
        </div>
         <span class="language-switch">
            <label>{{ 'language.select' | language language.active }}:</label>
            <select v-model="language.active">
                <option v-for="option in language.list" v-bind:value="option.id">
                    {{ option.text | language language.active }}
                </option>
            </select>
        </span>
    </section>
</div>